.background{
    background: radial-gradient(100% 100% at 50% 0%, #EF4634 0%, #3560AD 100%);
    height: 100vh;
    overflow-y: scroll !important;
}

.parent_class{
    position: relative;
}

ul.childClass {
    position: absolute;
    background: #fff;
    /* width: 100%; */

    width: 250px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

}

ul.childClass li {
    margin: 10px; 
   
}

.parent_class:hover .childClass {
    visibility: 1;
    opacity: 1;
    visibility: visible;
}

.quiz{
    transition: 5s ease-in-out;
}












.item-enter-active {
    opacity: 1;
    /* transform: translateY(0); */
    transition: opacity 700ms ease-in-out;
}

/* extra animation css */
/* .item-exit-active {
    opacity: 0;
    transition: opacity 700ms ease-out;
  } */
